<p>nav-bar-admin works!</p>
<a [routerLink]="['/admin/planning']" routerLinkActive="is-active">planning</a>
<a [routerLink]="['/admin/declaration']" routerLinkActive="is-active">declaration</a>
<a [routerLink]="['/admin/trajet']" routerLinkActive="is-active">trajet</a>
<a [routerLink]="['/admin/eboueur']" routerLinkActive="is-active">eboueur</a>
<!-- <ng-container *ngIf="page == 'planning'">
    <p>connard</p>
</ng-container>
<ng-container *ngIf="page == 'declaration'">
    <p>canard</p>
</ng-container> -->


<div>{{currentRoute}}</div>