/*NAVBAR ------------------------------------------------------*/

#navbar_accueil{
    background-color: #edeaeaa9;
    width: 98%;
    height: 80px;
    z-index: 1;
    position: fixed;
    top: 2%;
    right: 1%;
    left: 1%;
    border-radius: 17px;
    display: flex;
    justify-content: space-between;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px; 
}
#logo{
    height: 73%;
    width: auto;
    margin-left: 10px;
    margin-top: auto;
    margin-bottom: auto;
    cursor: pointer;
}

/* LES BOUTONS ----------------------------------------------- */

.simple_button{
    color: black;
    border-radius: 50px;
    height: 40%;
    align-items: center;
    display: flex;
    cursor: pointer;;
}
.simple_button:hover{
    color: #50b996;
}
.green_button{
    background-color: #6FCEAE;
    color: white;
    border-radius: 50px;
    height: 53%;
    align-items: center;
    display: flex;
    margin-left: 10px;
    padding: 0 20px;
    cursor: pointer;
    border: 2px solid #6FCEAE;
    
}
.green_button:hover{
    background-color: #EDEAEA;
    color: #6FCEAE;
    border: 2px solid #6FCEAE;
    margin-left: 10px;
}
.bouton_align{
    flex-direction:row;
    width: auto;
    justify-content: space-between;
    display: flex;
    align-items: center;
    margin-right: 15px;
}