<app-nav-bar-admin></app-nav-bar-admin>

<table>
	<caption> 
		<p>Éboueurs</p>
		<button class="btn add">Ajouter un nouvel éboueurs</button>
	</caption>
	
	<thead>
		<tr>
			<th>Email</th>
			<th>Prénom</th>
			<th>Nom</th>
            <th>Modifier</th>
			<th>Supprimer</th>
		</tr>
	</thead>
	<tbody>
        
		<tr *ngFor="let garbageCollector of garbageCollectors">
			<td>{{ garbageCollector.email }}</td>
			<td>{{ garbageCollector?.first_name }}</td>
			<td>{{ garbageCollector?.last_name }}</td>
			<td><button class="btn edit">Modifier</button></td>
			<td><button class="btn delete">Supprimer</button></td>
			
		</tr>
		
	</tbody>
</table>

