<form class="auth-form" id="login-form" #loginForm="ngForm" (ngSubmit)="loginForm.form.valid && onSubmit(loginForm)">
    
    <div class="auth-form_input-block">
        <label for="email">Email :</label>
        <input id="email" name="email" ngModel #email="ngModel" type="text">
    </div>

    <div class="auth-form_input-block">
        <label for="password">Mot de passe :</label>
        <input id="password" name="password" ngModel #password="ngModel" type="text">
    </div>

    
    

    <button type="submit"> connexion </button>

</form>
