<input type="checkbox" id="slide" name="" value="" />
	<div class="container">
		<label for="slide" class="toggle"><i class="fi fi-rr-settings-sliders"></i></label>
		<nav class="sidebar"> 
            <div class="materiaux">
                <a class="bouton_filtres" href=""><img src="./assets/images/marker_verre.png" width="15px" alt=""> <br>
                    Verre</a>
                <a class="bouton_filtres" href=""><img src="./assets/images/marker_plastique.png" width="15px" alt=""> <br>Plastique</a>
                <a class="bouton_filtres" href=""><img src="./assets/images/marker_carton.png" width="15px" alt=""> <br>Carton</a>
                <a class="bouton_filtres" href=""><img src="./assets/images/marker_electronique.png" width="15px" alt=""> <br>Electronique</a>
            </div>
            <div class="materiaux">
                <a class="bouton_filtres" href=""><img src="./assets/images/marker_lieu.png" width="15px" alt=""> <br>- 5km</a>
                <a class="bouton_filtres" href=""><img src="./assets/images/marker_lieu.png" width="15px" alt=""> <br>- 10km</a>
                <a class="bouton_filtres" href=""><img src="./assets/images/marker_lieu.png" width="15px" alt=""> <br>- 15km</a>
                <a class="bouton_filtres" href=""><img src="./assets/images/marker_lieu.png" width="15px" alt=""> <br>- 20km</a>
            </div>
		</nav>
	</div>
