:root {
    /* Light Mode */

    --light-background-gradient: linear-gradient(90deg, #74EBD5 0%, #9FACE6 100%);
    --light-background-color-main: #EDEDED;
    --light-background-color-main-transparent: #edeaeae6;
    --light-background-color-second: #ffffff;
    --light-background-color-third: #6fceae84;
    --light-color: black;
    --light-second: #6FCEAE;
    /* Dark Mode */
    --dark-background-gradient:linear-gradient(19deg, #176678 0%, #6f1996 100%);
    --dark-background-color-main:#323232;
    --dark-background-color-second: #eeff00ea;
    --dark-background-color-third: #42c7f084;
    --dark-color-main: white;
    --dark-color-second: #f4f7f6;
    --map-tiles-filter: brightness(0.67) invert(1) contrast(2.5) hue-rotate(200deg) saturate(0.3);
    
}


/* Module Root */


/* HEADER */

.light #mainHeader{    
    background-color: var(--light-background-color-main-transparent);
}

.dark #mainHeader {
    background-color: #414141df;
}


/* Bar de recherche */

.light .input_recherche, .light .bouton_location, .light .geoapify-autocomplete-input{
    background-color: var(--light-background-color-main);
}

.dark .input_recherche, .dark .bouton_location, .dark .geoapify-autocomplete-input{
    background-color: var(--dark-background-color-main);
    color : var(--dark-color-main);
}

.light .geoapify-autocomplete-items{
    background-color: var(--light-background-color-second);
}
.dark .geoapify-autocomplete-items{
    background-color: var(--dark-background-color-second);
}

.light .geoapify-autocomplete-items div:hover {
    background-color: var(--light-background-color-third);
}

.dark .geoapify-autocomplete-items div:hover {
    background-color: var(--dark-background-color-third);
}

.light .geoapify-autocomplete-item .icon{
    color: var(--light-color-second);
}

.dark .geoapify-autocomplete-item .icon{
    color: var(--dark-color-second);
}

.light .geoapify-close-button {
    color: rgba(0, 0, 0, 0.4);
}

.dark .geoapify-close-button {
    color: rgba(251, 249, 249, 0.4);
}

.light .geoapify-close-button:hover {
    color: rgba(0, 0, 0, 0.6);
}

.dark .geoapify-close-button:hover {
    color: rgba(235, 229, 229, 0.6);
}

.light .geoapify-autocomplete-items .secondary-part{
    color: rgba(0, 0, 0, 0.6);
}

.dark .geoapify-autocomplete-items .secondary-part{
    color: rgba(255, 254, 254, 0.6);
}




/* Bar de filter  */

/* Map */

.dark .map-tiles {
    filter: var(--map-tiles-filter, none);
}
/* Modale*/
.light .background-gradient  {
    background-image: var(--light-background-gradient);
}
.dark .background-gradient  {
    background-image: var(--dark-background-gradient);
}
.black-white{
    background-image: var(--light-color);
}
.light-white{
    background-color: var(--dark-color-main);
}
/* Module User */

/* Module Garbage Collector */

/* Module Admin */