<app-header></app-header>
<div class="div_auth" style="padding: 130px 0 0 10px;">
    <form method="">
        <div class="formSection">
            Adresse E-mail<br>
            <input type='email' name='email' class='inputLogin_auth'><br><br>
            Mot de passe<br>
            <input type='password' name='password' class='inputLogin_auth'><br><br>
        </div>
        <button class='green_button'>Connexion</button>
        <a class='' routerLink="/inscription">Je désire m'inscrire</a>
    </form>
</div>