
        <section class="auth-container">

            <div [ngClass]="(isLogin==true) ? '' : 'register' " class="auth-container_block">
                <h2 style="margin-bottom: 25px;">{{(isLogin==true) ? 'VOUS NOUS AVEZ MANQUE !' : 'Inscription'}}</h2>

                <ng-container *ngIf="isLogin">
                    <app-form-login style="width: 90%;"></app-form-login>
                </ng-container>

                <ng-container *ngIf="!isLogin">
                    <app-form-register style="width: 90%;"></app-form-register>
                </ng-container>

                <p (click)="toggleForm()" style="padding: 2rem 0 1rem 0; cursor: pointer;">
                    {{
                    (isLogin==true)
                    ? 'Pas de compte ? Inscrivez-vous'
                    : 'Déjà un compte ? Connectez-vous'
                    }}
                </p>
                
        <a routerLink="/" class="btn closebtn"> Retour </a>
            </div>

        </section>

        <img src="../../../assets/images/tombereau.png" alt="poubelles">