.div_auth {
    min-height: 100vh;
}

.div_auth {
    background-color: #EDEDED;

}

.inputLogin_auth {
    background-color: white;
    border-radius: 8px;
    width: 250px;
}

.green_button {
    background-color: #6FCEAE;
    color: white;
    border-radius: 50px;
    height: 53%;
    align-items: center;
    display: flex;
    margin-left: 10px;
    padding: 0 20px;
    cursor: pointer;
    border: 2px solid #6FCEAE;
}

.green_button:hover {
    background-color: #EDEAEA;
    color: #6FCEAE;
    border: 2px solid #6FCEAE;
    margin-left: 10px;
}