/*map*/
.map-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -5;
  }
  
  .map-frame {
    height: 100%;
  }
  
  #map {
    height: 100%;
  }

  /*search bar map*/
#search_bar_container{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    position: absolute;
    top: 85%;
    right: 25%;
    left: 25%;
    width: 50%;  
}
.input_recherche{
    
    border: none;
    border-radius: 50px 0px 0px 50px ;
    width: 90%;
    padding-left: 5%;
}



.input_recherche:focus{
    outline: none;
    font-size: medium;
}
.bouton_location{
    border-radius: 0px 50px 50px 0px ;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10%;
    cursor: pointer;
}

.fi-rs-marker{
    background-color: #6FCEAE;
    padding: 15%;
    border-radius: 100%;
    color: white;
    display: flex;
}

/*MEDIAQUERIES SEARCH BAR*/
@media all and (max-device-width: 564px){
  #search_bar_container{
    right: 4%;
    left: 4%;
    width: 90%;
  }
}