<div id="bloc_message">
    <!-- <div id="messages_recus">
            
        <div class="message_recus_colum">
            <div class="flex_row">
                <h5>Adrien Ebouma</h5>
                <h5>09:10</h5>
            </div>
            <div class="flex_row">
                <h4>Je suis parti vers l'église St-Vivien, re...</h4>
                <div class="red_point"></div>
            </div>
        </div>
        <div class="message_recus_colum surbrillance">
            <div class="flex_row">
                <h5>Boris Vandeck</h5>
                <h5>15:20</h5>
            </div>
            <div class="flex_row">
                <h4>Me revoilà aux nouvelles, je comptais...</h4>
            </div>
        </div>
    </div> -->
   
   
    <div id="liste_messages">
        <div class="flex_column">
            <h2 class="nom_contact">Groupe de discussion | Eboueurs</h2>
            <div *ngFor="let chat of chats" class="mb">
                <div class="message_destinataire">
                    <h6>{{chat.username}}</h6>
                    <div class="interieur_message_recu">

                    <div>
                        <h4>{{chat.message}}</h4>
                    </div>

                </div>
                <h4 class="heure_message">{{chat.timestamp | date:'HH:mm'}}</h4>
            </div>

            <div class="message_envoye">
                <h4 class="heure_message">{{chat.timestamp | date:'HH:mm'}}</h4>
                <div class="interieur_message_envoye">
                    
                <h4>{{chat.message}}</h4></div>
            </div>
        </div>
       </div>

    </div>
    
    <form id="envoi_message" [formGroup]="form" (ngSubmit)="onChatSubmit(form.value)">
        <input matInput formControlName="username" >
        <input placeholder="Tapez votre message ..." matInput formControlName="message" >
        <button type="submit" matSuffix mat-icon-button aria-label="Submit">
            <i class="fi fi-rr-paper-plane"></i>
        </button>
    </form>
       
</div>
