
html, body{
    height: 100vh;
    width: 100vw;
}

#bloc_message{
    display: flex;
    flex-direction: column;
    background-color: #e4e4e4;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

#messages_recus{
    margin-top: 110px;
    background-color: #e4e4e4;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    scrollbar-width:none;
    height: 100%;
}

#liste_messages{
    background-color: #e4e4e4;
    width: 100%;
    height: 93%;
    overflow-y: scroll;
    scrollbar-width:none;
    display: flex;
    flex-direction: column;
    margin: 0 0 70px 0;
}

#envoi_message{
    background-color: #e4e4e4;
    width: 100%;
    height: 7%;
    position: fixed;
    bottom: 0px;
    text-align: center;
}
.type_message{
    border: none;
    width: 100%;
    height: 100%;
    box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset;
}
.flex_column{
    display: flex;
    flex-direction: column;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}
.flex_row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.message_recus_colum{
    cursor: pointer;
    padding: 3%;
}
.message_recus_colum:hover{
    background-color: #7fd3b798;
    color: #EDEAEA;
}
.red_point{
    background-color: rgb(236, 104, 104);
    width: 10px;
    height: 10px;
    border-radius: 100%;

}
.flex_row h4{
    color: grey;
}
.surbrillance{
    background-color: #7FD3B7;
    color: white;
}
.surbrillance h4{
    color: white;
}

.message_destinataire{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    margin-bottom: 20px;
    
}
.message_envoye{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
}
.interieur_message_envoye{
    background-color: rgb(255, 255, 255);
    border-radius: 30px 30px 0 30px;
    width: auto;
    margin-right: 1%;
    padding: 5px;
}
.interieur_message_recu{
    background: linear-gradient(90deg, #74cfeb 0%, #9FACE6 100%);
    color: white;
    border-radius: 30px 30px 30px 0px;
    width: auto;
    margin-left: 1%;
    padding: 5px;
}
.message_envoye h4, .message_destinataire h4 {
    padding: 7px 13px;
}

.nom_contact{
    margin-top: 110px;
    text-align: center;
    margin-bottom: 3%;
}
.heure_message {
    color: rgb(80, 80, 80);
    font-size: smaller;
    display: flex;
    align-items: center;
}
#mat-input-1 {
    background-color: #fff;
    width: 80%;
    border: none;
    height: 57px;
    border-radius: 50px;
    position: fixed;
    bottom: 10px;
    padding: 0 0 0 2%;
    box-shadow: rgba(17, 17, 26, 0.05) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
  }
  #mat-input-1:active{
    border: none;
  }
button {
    padding: 10px;
    background-color: #6fceae;
    border-radius: 50px;
    color: white;
    cursor: pointer;
    border: 2px solid rgba(255, 255, 255, 0);
    font-size: larger;
    position: fixed;
    bottom: 11px;
    right: 15%;
}
button:hover{
    background-color: white;
    border: 2px solid black;
    color: black;
}
/*RESPONSIVE PETIT ECRAN PC - GRAND ECRAN TABLETTES MESSAGE*/

@media all and (max-width : 1472px) {
    #messages_recus{
        width: 30%;
    }
    .flex_column{
        width: 70%;
    }
}

/*RESPONSIVE PETITE TABLETTE-MOBILE MESSAGE*/

@media all and (max-width : 936px) {
    #messages_recus {
        display: none;
    }
    #liste_messages{
        margin: 0 0 70px 0;
    }
    .flex_column{
        width: 100%;
    }
    .message_envoye, .message_destinataire{
        margin-bottom: 20px;
        font-size: small;
    }
    .message_envoye h4, .message_destinataire h4 {
        padding: 0px 4px;
    }
    .type_message{
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        height: 7%;
    }
    .nom_contact{
        font-size: medium;
    }
}


.message{
    width: 100%;
    height: 70px;
    bottom: 0px;
    position: fixed;
    border: none;
    left: 0;
    padding: 0 0 0 15%;
}
.username{
    visibility: hidden;
}