<app-header-gc></app-header-gc>
<div id="bloc_message">
    <!-- <div id="messages_recus">
            
        <div class="message_recus_colum">
            <div class="flex_row">
                <h5>Adrien Ebouma</h5>
                <h5>09:10</h5>
            </div>
            <div class="flex_row">
                <h4>Je suis parti vers l'église St-Vivien, re...</h4>
                <div class="red_point"></div>
            </div>
        </div>
        <div class="message_recus_colum surbrillance">
            <div class="flex_row">
                <h5>Boris Vandeck</h5>
                <h5>15:20</h5>
            </div>
            <div class="flex_row">
                <h4>Me revoilà aux nouvelles, je comptais...</h4>
            </div>
        </div>
    </div> -->
            <h2 class="nom_contact">Groupe de discussion | Eboueurs</h2>

    <div id="liste_messages">
        <div class="flex_column">

            <div *ngFor="let chat of chats" class="mb">
                <div class="message_destinataire">
                    <h6 *ngIf="chat.username != userMail">{{chat.username}}</h6>
                    <div *ngIf="chat.username != userMail" class="interieur_message_recu">

                        <div>
                            <h4>{{chat.message}}</h4>
                        </div>

                    </div>
                    <h4 *ngIf="chat.username != userMail" class="heure_message">{{chat.timestamp | date:'HH:mm'}}</h4>
                </div>

                <div *ngIf="chat.username == userMail" class="message_envoye">
                    <h4 class="heure_message">{{chat.timestamp | date:'HH:mm'}}</h4>
                    <div class="interieur_message_envoye">

                        <h4>{{chat.message}}</h4>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <form id="envoi_message" [formGroup]="form" (ngSubmit)="onChatSubmit(form.value)">
        <input class="username" matInput formControlName="username">
        <input class="message" placeholder="Tapez votre message ..." matInput formControlName="message">
        <button type="submit" matSuffix mat-icon-button aria-label="Submit">
            Envoyer
        </button>
    </form>

</div>