@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
@import url('https://cdn-uicons.flaticon.com/uicons-brands/css/uicons-brands.css');

#accueil{
    position: fixed;
    width: 100%;
    height: 100vh;
}
.bloc_vert{
    width: 200%;
    height: 800px;
    background-color: #5eda96;
    background-image: linear-gradient(135deg, #5eda96 0%, #8186da 100%);
    
    
    position: absolute;
    top: -200px;
    border-radius: 100px;
    transform : rotate(-5deg);
}
.telephone{
    position: absolute;
    width: 40%;
    right: 4%;
    top: 17%;
}

.telephone:hover{
    transform: scale(1.05);
}
.title_accueil{
    font-family: 'Fredoka One', cursive;
    color: white;
    position: absolute;
    top: 25%;
    left: 10%;
    font-size: 55px;
}
.subtitle_accueil{
    color: rgb(255, 255, 255);
    position: absolute;
    top: 50%;
    left: 10%;
    font-size: 15px;
}


.animate-charcter
{
  background-image: linear-gradient(
    -225deg,
    #00f7b9 0%,
    #e3e700 29%,
    #13ffc4 67%,
    #367486 100%
  );
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 7s linear infinite;
  display: inline-block;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}


.reseaux_sociaux{
    color: rgb(82, 82, 82);
    position: absolute;
    bottom: 2%;
    left: 6%;
    font-size: 15px;
}
.fi{
    margin-right: 5px;
}
.button_redirect_user{
    position: absolute;
    background-color: rgb(255, 255, 255);
    color: black;
    top: 59%;
    left: 227px;
    border-radius: 50px;
    padding: 11px;
    font-weight: 600;
}
.button_redirect_user:hover{
    transform: scale(1.1);
}
.button_redirect_eboueur{
    position: absolute;
    background-color:rgb(94, 104, 90);
    color: white;
    top: 59%;
    left: 418px;
    border-radius: 50px;
    padding: 11px;
    font-weight: 600;
}
.button_redirect_eboueur:hover{
    transform: scale(1.1);
}
a{
    text-decoration: none;
}