.geoapify-autocomplete-input {
    padding: 0 25px 0 7px;
    width: calc(100% - 40px);
    outline: none;
    border: none;
    line-height: 36px;
    height: 50px;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    
}

.geoapify-autocomplete-items {
    position: absolute;
    border: none;
    border-top: none;
    background-color: #fff;
    border-radius: 7px 7px 0px 0px;
    z-index: 99;
    bottom: 100%;
    left: 0;
    right: 0;
}

.geoapify-autocomplete-items div {
    padding: 10px;
    cursor: pointer;
}

.geoapify-autocomplete-items div:hover {
    background-color: #6fceae84;
}

.geoapify-autocomplete-items .active {
    background-color: rgba(0, 0, 0, 0.1);
}

.geoapify-autocomplete-item {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.geoapify-autocomplete-item .icon {
    display: inline-block;
    width: 40px;
    height: 24px;
    color: #6FCEAE;
}

.geoapify-autocomplete-item .icon.emoji {
    color: unset;
    font-size: 20px;
    opacity: 0.9;
}

.geoapify-close-button {
    position: absolute;
    right: 5px;
    top: 0;

    height: 100%;
    display: none;
    align-items: center;
}

.geoapify-close-button.visible {
    display: flex;
}

.geoapify-close-button {
    color: rgba(0, 0, 0, 0.4);
    cursor: pointer;
}

.geoapify-close-button:hover {
    color: rgba(0, 0, 0, 0.6);
}

.geoapify-autocomplete-items .secondary-part {
    margin-left: 10px;
    font-size: small;
    color: rgba(0, 0, 0, 0.6);
}