<nav id="mainHeader" class="flex-container">
    <img id="logo" routerLink="/eboueurs/trajets" src="../../../assets/images/logo.png">

    <label for="drop" class="toggle">☰</label>
    <input type="checkbox" id="drop" />

    <ul class="menu bouton_align">

        <li><button routerLink="/eboueurs/trajets" style="display: block; padding: 14px 20px; font-size: 17px;"
                class="btn openbtn green_button">
                Trajets
            </button></li>

        <li><button routerLink="/eboueurs/messagerie" style="display: block; padding: 14px 20px; font-size: 17px;"
                class="btn openbtn green_button">
                Messagerie
            </button></li>

        <li><button routerLink="/eboueurs/declaration" style="display: block; padding: 14px 20px; font-size: 17px;"
                class="btn openbtn green_button">
                Declaration
            </button></li>

        <li><button routerLink="/eboueurs/profil" style="display: block; padding: 14px 20px; font-size: 17px;"
                class="btn openbtn green_button">
                Profil
            </button></li>

        <li><button (click)="logout()" style="display: block; padding: 14px 20px; font-size: 17px;"
                class="btn openbtn green_button">
                Déconnexion
            </button></li>

    </ul>

</nav>